<a href="https://colab.research.google.com/github/Noob919/Feature_selection/blob/main/OWA/Audit_OWA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
from functools import reduce
from itertools import combinations,permutations

In [29]:
rank1 = pd.read_excel("/content/audit_dataset.xlsx",sheet_name = "Chi_2").set_index('Attributes_Names')
rank2  = pd.read_excel("/content/audit_dataset.xlsx",sheet_name = "Tree_based_method").set_index('Attributes_Names')
rank3  = pd.read_excel("/content/audit_dataset.xlsx",sheet_name = "permutation_method_mean").set_index('Attributes_Names')
rank5  = pd.read_excel("/content/audit_dataset.xlsx",sheet_name = "PCA").set_index('Attributes_Names')
rank4  = pd.read_excel("/content/audit_dataset.xlsx",sheet_name = "permutation_method_std").set_index('Attributes_Names')
rank6  = pd.read_excel("/content/audit_dataset.xlsx",sheet_name = "F_test").set_index('Attributes_Names')
rank7  = pd.read_excel("/content/audit_dataset.xlsx",sheet_name = "mutual_info").set_index('Attributes_Names')
rank8  = pd.read_excel("/content/audit_dataset.xlsx",sheet_name = "Pearson_Correlation").set_index('Attributes_Names')

In [30]:
ranks = [rank1,rank2,rank3,rank4,rank5, rank6, rank7, rank8]
final_df = reduce(lambda  left,right: pd.merge(left,right,on=['Attributes_Names'],how='inner'), ranks)
final_df

,rank_chi,rank_tree,rank_per_mean,rank_P_std,rank_pca,rank_f_test,Mutual_info_rank,rank_pearson
Attributes_Names,,,,,,,,
Inherent_Risk,1,2,1,2,1,11,2,10
Money_Value,2,5,6,6,2,17,5,16
TOTAL,3,4,3,4,3,16,4,15
PARA_B,4,11,7,7,4,18,9,17
Risk_D,5,7,5,3,6,20,6,19
Audit_Risk,6,1,2,1,5,22,1,21
Risk_B,7,14,8,8,7,19,7,18
Sector_score,8,18,25,26,26,8,15,24
PARA_A,9,13,9,9,8,10,11,9
Risk_A,10,10,11,10,9,9,10,8
Score,11,3,22,23,10,1,3,1
History,12,25,18,19,13,21,18,20
District_Loss,13,12,4,5,12,7,16,7
Risk_F,14,26,23,24,18,23,23,22
CONTROL_RISK,15,9,12,12,14,5,14,5
Score_MV,16,6,21,22,15,2,8,2
Score_B,17,15,16,17,17,3,12,3
Score_A,18,16,15,16,19,4,13,4
Risk_C,19,19,14,15,11,13,20,12
RiSk_E,20,8,13,13,20,6,17,6
Score_B.1,22,20,19,20,21,12,22,11
Prob,23,23,17,18,22,15,21,14
numbers,24,22,10,11,16,14,19,13
PROB,25,21,24,25,23,24,25,23
Detection_Risk,26,24,20,21,24,26,26,25

In [31]:
negative_df = final_df*-1
negative_df

,rank_chi,rank_tree,rank_per_mean,rank_P_std,rank_pca,rank_f_test,Mutual_info_rank,rank_pearson
Attributes_Names,,,,,,,,
Inherent_Risk,-1,-2,-1,-2,-1,-11,-2,-10
Money_Value,-2,-5,-6,-6,-2,-17,-5,-16
TOTAL,-3,-4,-3,-4,-3,-16,-4,-15
PARA_B,-4,-11,-7,-7,-4,-18,-9,-17
Risk_D,-5,-7,-5,-3,-6,-20,-6,-19
Audit_Risk,-6,-1,-2,-1,-5,-22,-1,-21
Risk_B,-7,-14,-8,-8,-7,-19,-7,-18
Sector_score,-8,-18,-25,-26,-26,-8,-15,-24
PARA_A,-9,-13,-9,-9,-8,-10,-11,-9
Risk_A,-10,-10,-11,-10,-9,-9,-10,-8
Score,-11,-3,-22,-23,-10,-1,-3,-1
History,-12,-25,-18,-19,-13,-21,-18,-20
District_Loss,-13,-12,-4,-5,-12,-7,-16,-7
Risk_F,-14,-26,-23,-24,-18,-23,-23,-22
CONTROL_RISK,-15,-9,-12,-12,-14,-5,-14,-5
Score_MV,-16,-6,-21,-22,-15,-2,-8,-2
Score_B,-17,-15,-16,-17,-17,-3,-12,-3
Score_A,-18,-16,-15,-16,-19,-4,-13,-4
Risk_C,-19,-19,-14,-15,-11,-13,-20,-12
RiSk_E,-20,-8,-13,-13,-20,-6,-17,-6
Score_B.1,-22,-20,-19,-20,-21,-12,-22,-11
Prob,-23,-23,-17,-18,-22,-15,-21,-14
numbers,-24,-22,-10,-11,-16,-14,-19,-13
PROB,-25,-21,-24,-25,-23,-24,-25,-23
Detection_Risk,-26,-24,-20,-21,-24,-26,-26,-25

In [32]:
perms = list(permutations(final_df.index,2)) 
perm_df = pd.DataFrame(perms, columns = ['feature A', 'feature B'])

In [33]:
rank_chi = []
for i in range(0,perm_df.shape[0]):
  if(negative_df.T[perm_df['feature A'][i]]['rank_chi'] > negative_df.T[perm_df['feature B'][i]]['rank_chi']):
    rank_chi.append(1)
  else: 
    rank_chi.append(0)

perm_df = perm_df.merge(pd.Series(rank_chi, name = 'Chi2').to_frame(), left_index=True, right_index=True)

In [34]:
rank_tree = []
for i in range(0,perm_df.shape[0]):
  if(negative_df.T[perm_df['feature A'][i]]['rank_tree'] > negative_df.T[perm_df['feature B'][i]]['rank_tree']):
    rank_tree.append(1)
  else: 
    rank_tree.append(0)

perm_df = perm_df.merge(pd.Series(rank_tree, name = 'tree').to_frame(), left_index=True, right_index=True)

In [35]:
rank_per_mean = []
for i in range(0,perm_df.shape[0]):
  if(negative_df.T[perm_df['feature A'][i]]['rank_per_mean'] > negative_df.T[perm_df['feature B'][i]]['rank_per_mean']):
    rank_per_mean.append(1)
  else: 
    rank_per_mean.append(0)

perm_df = perm_df.merge(pd.Series(rank_per_mean, name = 'per_mean').to_frame(), left_index=True, right_index=True)

In [36]:
rank_P_std = []
for i in range(0,perm_df.shape[0]):
  if(negative_df.T[perm_df['feature A'][i]]['rank_P_std'] > negative_df.T[perm_df['feature B'][i]]['rank_P_std']):
    rank_P_std.append(1)
  else: 
    rank_P_std.append(0)

perm_df = perm_df.merge(pd.Series(rank_P_std, name = 'per_std').to_frame(), left_index=True, right_index=True)

In [37]:
rank_pca = []
for i in range(0,perm_df.shape[0]):
  if(negative_df.T[perm_df['feature A'][i]]['rank_pca'] > negative_df.T[perm_df['feature B'][i]]['rank_pca']):
    rank_pca.append(1)
  else: 
    rank_pca.append(0)

perm_df = perm_df.merge(pd.Series(rank_pca, name = 'rank_pca').to_frame(), left_index=True, right_index=True)

In [38]:
rank_f_test = []
for i in range(0,perm_df.shape[0]):
  if(negative_df.T[perm_df['feature A'][i]]['rank_f_test'] > negative_df.T[perm_df['feature B'][i]]['rank_f_test']):
    rank_f_test.append(1)
  else: 
    rank_f_test.append(0)

perm_df = perm_df.merge(pd.Series(rank_f_test, name = 'rank_f_test').to_frame(), left_index=True, right_index=True)

In [39]:
rank_mutual_info = []
for i in range(0,perm_df.shape[0]):
  if(negative_df.T[perm_df['feature A'][i]][ 'Mutual_info_rank'] > negative_df.T[perm_df['feature B'][i]]['Mutual_info_rank']):
    rank_mutual_info.append(1)
  else: 
    rank_mutual_info.append(0)

perm_df = perm_df.merge(pd.Series(rank_mutual_info, name = 'rank_mutual').to_frame(), left_index=True, right_index=True)

In [40]:
rank_pearson = []
for i in range(0,perm_df.shape[0]):
  if(negative_df.T[perm_df['feature A'][i]]['rank_pearson'] > negative_df.T[perm_df['feature B'][i]]['rank_pearson']):
    rank_pearson.append(1)
  else: 
    rank_pearson.append(0)

perm_df = perm_df.merge(pd.Series(rank_pearson, name = 'rank_pearson').to_frame(), left_index=True, right_index=True)

In [41]:
Name = pd.DataFrame(list(negative_df.index),columns = ['Attributes_Name'])
Name

   Attributes_Name
0    Inherent_Risk
1      Money_Value
2            TOTAL
3           PARA_B
4           Risk_D
5       Audit_Risk
6           Risk_B
7     Sector_score
8           PARA_A
9           Risk_A
10           Score
11         History
12   District_Loss
13          Risk_F
14    CONTROL_RISK
15        Score_MV
16         Score_B
17         Score_A
18          Risk_C
19          RiSk_E
20       Score_B.1
21            Prob
22         numbers
23            PROB
24  Detection_Risk

In [42]:
PS_Chi = []
for i in negative_df.index:
    PS_Chi.append((((perm_df[perm_df['feature A'] == i]['Chi2'].sum())/29)))
    
Name = Name.merge(pd.Series(PS_Chi, name = 'PS_Chi').to_frame(), left_index=True, right_index=True)

In [43]:
PS_Tree = []
for i in negative_df.index:
    PS_Tree.append((((perm_df[perm_df['feature A'] == i]['tree'].sum())/29)))
    
Name = Name.merge(pd.Series(PS_Tree, name = 'PS_Tree').to_frame(), left_index=True, right_index=True)

In [44]:
PS_per_mean = []
for i in negative_df.index:
    PS_per_mean.append((((perm_df[perm_df['feature A'] == i]['per_mean'].sum())/29)))
    
Name = Name.merge(pd.Series(PS_per_mean, name = 'PS_per_mean').to_frame(), left_index=True, right_index=True)

In [45]:
PS_per_std = []
for i in negative_df.index:
    PS_per_std.append((((perm_df[perm_df['feature A'] == i]['per_std'].sum())/29)))
    
Name = Name.merge(pd.Series(PS_per_std, name = 'PS_per_std').to_frame(), left_index=True, right_index=True)
PS_pca = []
for i in negative_df.index:
    PS_pca.append((((perm_df[perm_df['feature A'] == i]['rank_pca'].sum())/29)))
    
Name = Name.merge(pd.Series(PS_pca, name = 'PS_pca').to_frame(), left_index=True, right_index=True)
PS_f_test = []
for i in negative_df.index:
    PS_f_test.append((((perm_df[perm_df['feature A'] == i]['rank_f_test'].sum())/29)))
    
Name = Name.merge(pd.Series(PS_f_test, name = 'PS_f_test').to_frame(), left_index=True, right_index=True)
PS_mutual = []
for i in negative_df.index:
    PS_mutual.append((((perm_df[perm_df['feature A'] == i]['rank_mutual'].sum())/29)))
    
Name = Name.merge(pd.Series(PS_mutual, name = 'PS_mutual').to_frame(), left_index=True, right_index=True)
PS_pearson = []
for i in negative_df.index:
    PS_pearson.append((((perm_df[perm_df['feature A'] == i]['rank_pearson'].sum())/20)))
    
Name = Name.merge(pd.Series(PS_pearson, name = 'PS_pearson').to_frame(), left_index=True, right_index=True)
PS = Name.set_index('Attributes_Name')
PS

,PS_Chi,PS_Tree,PS_per_mean,PS_per_std,PS_pca,PS_f_test,PS_mutual,PS_pearson
Attributes_Name,,,,,,,,
Inherent_Risk,0.827586,0.793103,0.827586,0.793103,0.827586,0.482759,0.793103,0.75
Money_Value,0.793103,0.689655,0.655172,0.655172,0.793103,0.275862,0.689655,0.45
TOTAL,0.758621,0.724138,0.758621,0.724138,0.758621,0.310345,0.724138,0.50
PARA_B,0.724138,0.482759,0.620690,0.620690,0.724138,0.241379,0.551724,0.40
Risk_D,0.689655,0.620690,0.689655,0.758621,0.655172,0.172414,0.655172,0.30
Audit_Risk,0.655172,0.827586,0.793103,0.827586,0.689655,0.103448,0.827586,0.20
Risk_B,0.620690,0.379310,0.586207,0.586207,0.620690,0.206897,0.620690,0.35
Sector_score,0.586207,0.275862,0.000000,0.000000,0.000000,0.586207,0.344828,0.05
PARA_A,0.551724,0.413793,0.551724,0.551724,0.586207,0.517241,0.482759,0.80
Risk_A,0.517241,0.517241,0.482759,0.517241,0.551724,0.551724,0.517241,0.85
Score,0.482759,0.758621,0.103448,0.103448,0.517241,0.827586,0.758621,1.20
History,0.448276,0.034483,0.241379,0.241379,0.413793,0.137931,0.241379,0.25
District_Loss,0.413793,0.448276,0.724138,0.689655,0.448276,0.620690,0.310345,0.90
Risk_F,0.379310,0.000000,0.068966,0.068966,0.241379,0.068966,0.068966,0.15
CONTROL_RISK,0.344828,0.551724,0.448276,0.448276,0.379310,0.689655,0.379310,1.00
Score_MV,0.310345,0.655172,0.137931,0.137931,0.344828,0.793103,0.586207,1.15
Score_B,0.275862,0.344828,0.310345,0.310345,0.275862,0.758621,0.448276,1.10
Score_A,0.241379,0.310345,0.344828,0.344828,0.206897,0.724138,0.413793,1.05
Risk_C,0.206897,0.241379,0.379310,0.379310,0.482759,0.413793,0.172414,0.65
RiSk_E,0.172414,0.586207,0.413793,0.413793,0.172414,0.655172,0.275862,0.95
Score_B.1,0.137931,0.206897,0.206897,0.206897,0.137931,0.448276,0.103448,0.70
Prob,0.103448,0.103448,0.275862,0.275862,0.103448,0.344828,0.137931,0.55
numbers,0.068966,0.137931,0.517241,0.482759,0.310345,0.379310,0.206897,0.60
PROB,0.034483,0.172414,0.034483,0.034483,0.068966,0.034483,0.034483,0.10
Detection_Risk,0.000000,0.068966,0.172414,0.172414,0.034483,0.000000,0.000000,0.00

In [46]:
def Q(r):
  a = 0.3
  b = 0.8
  if(r < a):
    q = 0
  
  elif(a <= r <= 0.8):
    q =(r-0.3)/(b-a)
    
  elif(r>0.8):
    q =1
    
  return q

In [47]:
w_chi = Q(1/8) - Q(0)
w_tree = Q(2/8) - Q(1/8)
w_per_mean = Q(3/8) - Q(2/8)
w_per_std = Q(4/8) - Q(3/8)
w_pca = Q(5/8) - Q(4/8)
w_f_test = Q(6/8) -Q(5/8)
w_mutual = Q(7/8) - Q(6/8)
w_pearson = Q(8/8) - Q(7/8)

w  = [w_chi,w_tree,w_per_mean,w_per_std,w_pca,w_f_test,w_mutual,w_pearson]
FS = []
for i in range(0,len(Name.index)):
  sum = 0 
  fs = PS.iloc[i].sort_values(ascending = False)
  for j in range(0,len(fs)):
    sum  = sum + fs[j]*w[j]
  FS.append(sum) 
FS

[0.7939655172413793,
 0.648448275862069,
 0.7068965517241379,
 0.546896551724138,
 0.6162068965517242,
 0.6786206896551725,
 0.5160344827586207,
 0.13318965517241382,
 0.5362068965517242,
 0.5224137931034483,
 0.5637931034482759,
 0.23232758620689659,
 0.5241379310344828,
 0.08112068965517241,
 0.43965517241379304,
 0.42241379310344823,
 0.33620689655172414,
 0.33620689655172414,
 0.33275862068965517,
 0.3810344827586207,
 0.18275862068965518,
 0.1810344827586207,
 0.31034482758620685,
 0.039655172413793106,
 0.018965517241379314]

In [48]:
Final_df  = Name.merge(pd.Series(FS, name = 'FinalScore').to_frame(), left_index=True, right_index=True)
Final_df  =  Final_df[['Attributes_Name','FinalScore']].sort_values(by = 'FinalScore', ascending = False)
Final_df

   Attributes_Name  FinalScore
0    Inherent_Risk    0.793966
2            TOTAL    0.706897
5       Audit_Risk    0.678621
1      Money_Value    0.648448
4           Risk_D    0.616207
10           Score    0.563793
3           PARA_B    0.546897
8           PARA_A    0.536207
12   District_Loss    0.524138
9           Risk_A    0.522414
6           Risk_B    0.516034
14    CONTROL_RISK    0.439655
15        Score_MV    0.422414
19          RiSk_E    0.381034
16         Score_B    0.336207
17         Score_A    0.336207
18          Risk_C    0.332759
22         numbers    0.310345
11         History    0.232328
20       Score_B.1    0.182759
21            Prob    0.181034
7     Sector_score    0.133190
13          Risk_F    0.081121
23            PROB    0.039655
24  Detection_Risk    0.018966

In [50]:
from openpyxl import load_workbook

book = load_workbook('/content/audit_dataset.xlsx')
writer = pd.ExcelWriter('/content/audit_dataset.xlsx', engine='openpyxl') 
writer.book = book

## ExcelWriter for some reason uses writer.sheets to access the sheet.
## If you leave it empty it will not know that sheet Main is already there
## and will create a new sheet.

writer.sheets = dict((ws.title, ws) for ws in book.worksheets)

Final_df.to_excel(writer, "OWA_method")

writer.save()