<a href="https://colab.research.google.com/github/Noob919/Feature_selection/blob/main/OWA_WINE.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [15]:
import numpy as np
import pandas as pd
from functools import reduce
from itertools import combinations,permutations

In [16]:
rank1 = pd.read_excel("/content/Wine_dataset (1).xlsx",sheet_name = "Chi_2").set_index('Attributes_Names')
rank2  = pd.read_excel("/content/Wine_dataset (1).xlsx",sheet_name = "Tree_based_method").set_index('Attributes_Names')
rank3  = pd.read_excel("/content/Wine_dataset (1).xlsx",sheet_name = "permutation_method_mean").set_index('Attributes_Names')
rank4  = pd.read_excel("/content/Wine_dataset (1).xlsx",sheet_name = "permutation_method_std").set_index('Attributes_Names')
rank5  = pd.read_excel("/content/Wine_dataset (1).xlsx",sheet_name = "PCA").set_index('Attributes_Names')
rank6  = pd.read_excel("/content/Wine_dataset (1).xlsx",sheet_name = "F_test").set_index('Attributes_Names')
rank7  = pd.read_excel("/content/Wine_dataset (1).xlsx",sheet_name = "mutual_info").set_index('Attributes_Names')
rank8  = pd.read_excel("/content/Wine_dataset (1).xlsx",sheet_name = "Pearson_Correlation").set_index('Attributes_Names')

In [17]:
ranks = [rank1,rank2,rank3,rank4,rank5,rank6,rank7,rank8]
final_df = reduce(lambda  left,right: pd.merge(left,right,on=['Attributes_Names'],how='inner'), ranks)
final_df

,rank_chi,rank_tree,rank_per_mean,rank_per_std,rank_pca,,rank_f_test,rank_mutual_info,rank_pearson,
Attributes_Names,,,,,,,,,,
total_sulfur_dioxide,1,1,1,1,1.0,,1,2,1,
free_sulfur_dioxide,2,11,5,6,2.0,,6,5,2,
residual_sugar,3,8,8,5,3.0,,8,4,3,
fixed_acidity,4,6,4,4,9.0,,4,8,9,
volatile_acidity,5,3,2,2,12.0,,2,3,12,
sulphates,6,5,3,3,10.0,,5,7,10,
chlorides,7,2,9,10,11.0,,3,1,11,
citric_acid,8,10,11,11,4.0,,10,9,4,
quality,9,12,12,9,5.0,,11,12,5,
pH,10,7,7,8,8.0,,9,10,7,
alcohol,11,9,6,7,7.0,,12,11,6,
density,12,4,10,12,6.0,,7,6,8,

In [18]:
negative_df = final_df*-1
negative_df

,rank_chi,rank_tree,rank_per_mean,rank_per_std,rank_pca,,rank_f_test,rank_mutual_info,rank_pearson,
Attributes_Names,,,,,,,,,,
total_sulfur_dioxide,-1,-1,-1,-1,-1.0,,-1,-2,-1,
free_sulfur_dioxide,-2,-11,-5,-6,-2.0,,-6,-5,-2,
residual_sugar,-3,-8,-8,-5,-3.0,,-8,-4,-3,
fixed_acidity,-4,-6,-4,-4,-9.0,,-4,-8,-9,
volatile_acidity,-5,-3,-2,-2,-12.0,,-2,-3,-12,
sulphates,-6,-5,-3,-3,-10.0,,-5,-7,-10,
chlorides,-7,-2,-9,-10,-11.0,,-3,-1,-11,
citric_acid,-8,-10,-11,-11,-4.0,,-10,-9,-4,
quality,-9,-12,-12,-9,-5.0,,-11,-12,-5,
pH,-10,-7,-7,-8,-8.0,,-9,-10,-7,
alcohol,-11,-9,-6,-7,-7.0,,-12,-11,-6,
density,-12,-4,-10,-12,-6.0,,-7,-6,-8,

In [39]:
negative_df.columns

Index(['rank_chi', 'rank_tree', 'rank_per_mean', 'rank_per_std', 'rank_pca',
       '  ', 'rank_f_test', ' rank_mutual_info', 'rank_pearson', ' '],
      dtype='object')

In [19]:
combs = list(combinations(final_df.index,2))
perms = list(permutations(final_df.index,2))
print(perms)
comb_df  = pd.DataFrame(combs, columns =['feature A','feature B'])
perm_df = pd.DataFrame(perms, columns = ['feature A', 'feature B'])

[('total_sulfur_dioxide', 'free_sulfur_dioxide'), ('total_sulfur_dioxide', 'residual_sugar'), ('total_sulfur_dioxide', 'fixed_acidity'), ('total_sulfur_dioxide', 'volatile_acidity'), ('total_sulfur_dioxide', 'sulphates'), ('total_sulfur_dioxide', 'chlorides'), ('total_sulfur_dioxide', 'citric_acid'), ('total_sulfur_dioxide', 'quality'), ('total_sulfur_dioxide', 'pH'), ('total_sulfur_dioxide', 'alcohol'), ('total_sulfur_dioxide', 'density'), ('free_sulfur_dioxide', 'total_sulfur_dioxide'), ('free_sulfur_dioxide', 'residual_sugar'), ('free_sulfur_dioxide', 'fixed_acidity'), ('free_sulfur_dioxide', 'volatile_acidity'), ('free_sulfur_dioxide', 'sulphates'), ('free_sulfur_dioxide', 'chlorides'), ('free_sulfur_dioxide', 'citric_acid'), ('free_sulfur_dioxide', 'quality'), ('free_sulfur_dioxide', 'pH'), ('free_sulfur_dioxide', 'alcohol'), ('free_sulfur_dioxide', 'density'), ('residual_sugar', 'total_sulfur_dioxide'), ('residual_sugar', 'free_sulfur_dioxide'), ('residual_sugar', 'fixed_acidity'), ('residual_sugar', 'volatile_acidity'), ('residual_sugar', 'sulphates'), ('residual_sugar', 'chlorides'), ('residual_sugar', 'citric_acid'), ('residual_sugar', 'quality'), ('residual_sugar', 'pH'), ('residual_sugar', 'alcohol'), ('residual_sugar', 'density'), ('fixed_acidity', 'total_sulfur_dioxide'), ('fixed_acidity', 'free_sulfur_dioxide'), ('fixed_acidity', 'residual_sugar'), ('fixed_acidity', 'volatile_acidity'), ('fixed_acidity', 'sulphates'), ('fixed_acidity', 'chlorides'), ('fixed_acidity', 'citric_acid'), ('fixed_acidity', 'quality'), ('fixed_acidity', 'pH'), ('fixed_acidity', 'alcohol'), ('fixed_acidity', 'density'), ('volatile_acidity', 'total_sulfur_dioxide'), ('volatile_acidity', 'free_sulfur_dioxide'), ('volatile_acidity', 'residual_sugar'), ('volatile_acidity', 'fixed_acidity'), ('volatile_acidity', 'sulphates'), ('volatile_acidity', 'chlorides'), ('volatile_acidity', 'citric_acid'), ('volatile_acidity', 'quality'), ('volatile_acidity', 'pH'), ('volatile_acidity', 'alcohol'), ('volatile_acidity', 'density'), ('sulphates', 'total_sulfur_dioxide'), ('sulphates', 'free_sulfur_dioxide'), ('sulphates', 'residual_sugar'), ('sulphates', 'fixed_acidity'), ('sulphates', 'volatile_acidity'), ('sulphates', 'chlorides'), ('sulphates', 'citric_acid'), ('sulphates', 'quality'), ('sulphates', 'pH'), ('sulphates', 'alcohol'), ('sulphates', 'density'), ('chlorides', 'total_sulfur_dioxide'), ('chlorides', 'free_sulfur_dioxide'), ('chlorides', 'residual_sugar'), ('chlorides', 'fixed_acidity'), ('chlorides', 'volatile_acidity'), ('chlorides', 'sulphates'), ('chlorides', 'citric_acid'), ('chlorides', 'quality'), ('chlorides', 'pH'), ('chlorides', 'alcohol'), ('chlorides', 'density'), ('citric_acid', 'total_sulfur_dioxide'), ('citric_acid', 'free_sulfur_dioxide'), ('citric_acid', 'residual_sugar'), ('citric_acid', 'fixed_acidity'), ('citric_acid', 'volatile_acidity'), ('citric_acid', 'sulphates'), ('citric_acid', 'chlorides'), ('citric_acid', 'quality'), ('citric_acid', 'pH'), ('citric_acid', 'alcohol'), ('citric_acid', 'density'), ('quality', 'total_sulfur_dioxide'), ('quality', 'free_sulfur_dioxide'), ('quality', 'residual_sugar'), ('quality', 'fixed_acidity'), ('quality', 'volatile_acidity'), ('quality', 'sulphates'), ('quality', 'chlorides'), ('quality', 'citric_acid'), ('quality', 'pH'), ('quality', 'alcohol'), ('quality', 'density'), ('pH', 'total_sulfur_dioxide'), ('pH', 'free_sulfur_dioxide'), ('pH', 'residual_sugar'), ('pH', 'fixed_acidity'), ('pH', 'volatile_acidity'), ('pH', 'sulphates'), ('pH', 'chlorides'), ('pH', 'citric_acid'), ('pH', 'quality'), ('pH', 'alcohol'), ('pH', 'density'), ('alcohol', 'total_sulfur_dioxide'), ('alcohol', 'free_sulfur_dioxide'), ('alcohol', 'residual_sugar'), ('alcohol', 'fixed_acidity'), ('alcohol', 'volatile_acidity'), ('alcohol', 'sulphates'), ('alcohol', 'chlorides'), ('alcohol', 'citric_acid'), ('alcohol', 'quality'), ('alcohol', 'pH'), ('alcohol', 'density'), ('density', 'total_sulfur_dioxide'), ('density', 'free_sulfur_dioxide'), ('density', 'residual_sugar'), ('density', 'fixed_acidity'), ('density', 'volatile_acidity'), ('density', 'sulphates'), ('density', 'chlorides'), ('density', 'citric_acid'), ('density', 'quality'), ('density', 'pH'), ('density', 'alcohol')]

In [21]:
rank_chi = []
for i in range(0,perm_df.shape[0]):
  if(negative_df.T[perm_df['feature A'][i]]['rank_chi'] > negative_df.T[perm_df['feature B'][i]]['rank_chi']):
    rank_chi.append(1)
  else: 
    rank_chi.append(0)

perm_df = perm_df.merge(pd.Series(rank_chi, name = 'Chi2').to_frame(), left_index=True, right_index=True)

In [27]:
rank_tree = []
for i in range(0,perm_df.shape[0]):
  if(negative_df.T[perm_df['feature A'][i]]['rank_tree'] > negative_df.T[perm_df['feature B'][i]]['rank_tree']):
    rank_tree.append(1)
  else: 
    rank_tree.append(0)

perm_df = perm_df.merge(pd.Series(rank_tree, name = 'tree').to_frame(), left_index=True, right_index=True)

In [28]:
rank_per_mean = []
for i in range(0,perm_df.shape[0]):
  if(negative_df.T[perm_df['feature A'][i]]['rank_per_mean'] > negative_df.T[perm_df['feature B'][i]]['rank_per_mean']):
    rank_per_mean.append(1)
  else: 
    rank_per_mean.append(0)

perm_df = perm_df.merge(pd.Series(rank_per_mean, name = 'per_mean').to_frame(), left_index=True, right_index=True)

In [31]:
rank_P_std = []
for i in range(0,perm_df.shape[0]):
  if(negative_df.T[perm_df['feature A'][i]]['rank_per_std'] > negative_df.T[perm_df['feature B'][i]]['rank_per_std']):
    rank_P_std.append(1)
  else: 
    rank_P_std.append(0)

perm_df = perm_df.merge(pd.Series(rank_P_std, name = 'per_mean').to_frame(), left_index=True, right_index=True)

In [32]:
rank_pca = []
for i in range(0,perm_df.shape[0]):
  if(negative_df.T[perm_df['feature A'][i]]['rank_pca'] > negative_df.T[perm_df['feature B'][i]]['rank_pca']):
    rank_pca.append(1)
  else: 
    rank_pca.append(0)

perm_df = perm_df.merge(pd.Series(rank_pca, name = 'per_mean').to_frame(), left_index=True, right_index=True)

In [33]:
rank_f_test = []
for i in range(0,perm_df.shape[0]):
  if(negative_df.T[perm_df['feature A'][i]]['rank_f_test'] > negative_df.T[perm_df['feature B'][i]]['rank_f_test']):
    rank_f_test.append(1)
  else: 
    rank_f_test.append(0)

perm_df = perm_df.merge(pd.Series(rank_f_test, name = 'rank_f_test').to_frame(), left_index=True, right_index=True)

In [40]:
rank_mutual_info = []
for i in range(0,perm_df.shape[0]):
  if(negative_df.T[perm_df['feature A'][i]][ ' rank_mutual_info'] > negative_df.T[perm_df['feature B'][i]][' rank_mutual_info']):
    rank_mutual_info.append(1)
  else: 
    rank_mutual_info.append(0)

perm_df = perm_df.merge(pd.Series(rank_mutual_info, name = 'rank_mutual').to_frame(), left_index=True, right_index=True)

In [41]:
rank_pearson = []
for i in range(0,perm_df.shape[0]):
  if(negative_df.T[perm_df['feature A'][i]]['rank_pearson'] > negative_df.T[perm_df['feature B'][i]]['rank_pearson']):
    rank_pearson.append(1)
  else: 
    rank_pearson.append(0)

perm_df = perm_df.merge(pd.Series(rank_pearson, name = 'rank_pearson').to_frame(), left_index=True, right_index=True)

In [42]:
perm_df.head(25)

,feature A,feature B,Chi2,tree,per_mean_x,per_mean_y,per_mean,rank_f_test,rank_mutual,rank_pearson
0,total_sulfur_dioxide,free_sulfur_dioxide,1,1,1,1,1,1,1,1
1,total_sulfur_dioxide,residual_sugar,1,1,1,1,1,1,1,1
2,total_sulfur_dioxide,fixed_acidity,1,1,1,1,1,1,1,1
3,total_sulfur_dioxide,volatile_acidity,1,1,1,1,1,1,1,1
4,total_sulfur_dioxide,sulphates,1,1,1,1,1,1,1,1
5,total_sulfur_dioxide,chlorides,1,1,1,1,1,1,0,1
6,total_sulfur_dioxide,citric_acid,1,1,1,1,1,1,1,1
7,total_sulfur_dioxide,quality,1,1,1,1,1,1,1,1
8,total_sulfur_dioxide,pH,1,1,1,1,1,1,1,1
9,total_sulfur_dioxide,alcohol,1,1,1,1,1,1,1,1
10,total_sulfur_dioxide,density,1,1,1,1,1,1,1,1
11,free_sulfur_dioxide,total_sulfur_dioxide,0,0,0,0,0,0,0,0
12,free_sulfur_dioxide,residual_sugar,1,0,1,0,1,1,0,1
13,free_sulfur_dioxide,fixed_acidity,1,0,0,0,1,0,1,1
14,free_sulfur_dioxide,volatile_acidity,1,0,0,0,1,0,0,1
15,free_sulfur_dioxide,sulphates,1,0,0,0,1,0,1,1
16,free_sulfur_dioxide,chlorides,1,0,1,1,1,0,0,1
17,free_sulfur_dioxide,citric_acid,1,0,1,1,1,1,1,1
18,free_sulfur_dioxide,quality,1,1,1,1,1,1,1,1
19,free_sulfur_dioxide,pH,1,0,1,1,1,1,1,1
20,free_sulfur_dioxide,alcohol,1,0,1,1,1,1,1,1
21,free_sulfur_dioxide,density,1,0,1,1,1,1,1,1
22,residual_sugar,total_sulfur_dioxide,0,0,0,0,0,0,0,0
23,residual_sugar,free_sulfur_dioxide,0,1,0,1,0,0,1,0
24,residual_sugar,fixed_acidity,1,0,0,0,1,0,1,1

Combination DataFrame

In [ ]:
rank_chi = []
for i in range(0,comb_df.shape[0]):
  if(negative_df.T[comb_df['feature A'][i]]['rank_chi'] > negative_df.T[comb_df['feature B'][i]]['rank_chi']):
    rank_chi.append(1)
  else: 
    rank_chi.appen(0)

comb_df = comb_df.merge(pd.Series(rank_chi, name = 'Chi2').to_frame(), left_index=True, right_index=True)

In [ ]:
rank_tree = []
for i in range(0,comb_df.shape[0]):
  if(negative_df.T[comb_df['feature A'][i]]['rank_tree'] > negative_df.T[comb_df['feature B'][i]]['rank_tree']):
    rank_tree.append(1)
  else: 
    rank_tree.append(0)

comb_df = comb_df.merge(pd.Series(rank_tree, name = 'tree').to_frame(), left_index=True, right_index=True)

In [ ]:
rank_per_mean = []
for i in range(0,comb_df.shape[0]):
  if(negative_df.T[comb_df['feature A'][i]]['rank_per_mean'] > negative_df.T[comb_df['feature B'][i]]['rank_per_mean']):
    rank_per_mean.append(1)
  else: 
    rank_per_mean.append(0)

comb_df = comb_df.merge(pd.Series(rank_per_mean, name = 'per_mean').to_frame(), left_index=True, right_index=True)

In [ ]:
rank_P_std = []
for i in range(0,comb_df.shape[0]):
  if(negative_df.T[comb_df['feature A'][i]]['rank_P_std'] > negative_df.T[comb_df['feature B'][i]]['rank_P_std']):
    rank_P_std.append(1)
  else: 
    rank_P_std.append(0)

comb_df = comb_df.merge(pd.Series(rank_P_std, name = 'per_mean').to_frame(), left_index=True, right_index=True)

In [ ]:
rank_pca = []
for i in range(0,comb_df.shape[0]):
  if(negative_df.T[comb_df['feature A'][i]]['rank_pca'] > negative_df.T[comb_df['feature B'][i]]['rank_pca']):
    rank_pca.append(1)
  else: 
    rank_pca.append(0)

comb_df = comb_df.merge(pd.Series(rank_pca, name = 'per_mean').to_frame(), left_index=True, right_index=True)

In [ ]:
rank_f_test = []
for i in range(0,comb_df.shape[0]):
  if(negative_df.T[comb_df['feature A'][i]]['rank_f_test'] > negative_df.T[comb_df['feature B'][i]]['rank_f_test']):
    rank_f_test.append(1)
  else: 
    rank_f_test.append(0)

comb_df = comb_df.merge(pd.Series(rank_f_test, name = 'rank_f_test').to_frame(), left_index=True, right_index=True)

In [ ]:
rank_mutual_info = []
for i in range(0,comb_df.shape[0]):
  if(negative_df.T[comb_df['feature A'][i]]['Rank_mutual_info'] > negative_df.T[comb_df['feature B'][i]]['Rank_mutual_info']):
    rank_mutual_info.append(1)
  else: 
    rank_mutual_info.append(0)

comb_df = comb_df.merge(pd.Series(rank_mutual_info, name = 'rank_mutual').to_frame(), left_index=True, right_index=True)

In [ ]:
rank_pearson = []
for i in range(0,comb_df.shape[0]):
  if(negative_df.T[comb_df['feature A'][i]]['rank_pearson'] > negative_df.T[comb_df['feature B'][i]]['rank_pearson']):
    rank_pearson.append(1)
  else: 
    rank_pearson.append(0)

comb_df = comb_df.merge(pd.Series(rank_pearson, name = 'rank_pearson').to_frame(), left_index=True, right_index=True)

In [ ]:
comb_df

,feature A,feature B,Chi2,tree,per_mean_x,per_mean_y,per_mean_x,per_mean_y,rank_mutual,rank_f_test,rank_pearson
0,total_sulfur_dioxide,free_sulfur_dioxide,1,1,1,1,1,1,1,1,1
1,total_sulfur_dioxide,residual_sugar,1,1,1,1,1,1,1,1,1
2,total_sulfur_dioxide,fixed_acidity,1,1,1,1,1,1,1,1,1
3,total_sulfur_dioxide,volatile_acidity,1,1,1,1,1,1,1,1,1
4,total_sulfur_dioxide,sulphates,1,1,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...
61,quality,alcohol,1,0,0,0,1,1,0,1,1
62,quality,density,1,0,0,1,1,0,0,0,1
63,pH,alcohol,1,1,0,0,0,1,1,1,0
64,pH,density,1,0,1,1,0,0,0,0,1
65,alcohol,density,1,0,1,1,0,0,0,0,1